# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [14]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv"


# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path, index_col=None)
# Display sample data
city_data_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Tateyama,JP,34.9833,139.8667,67.10,76,100,8.10,overcast clouds
1,Albany,US,42.6001,-73.9662,52.66,73,7,10.07,clear sky
2,Vaini,TO,-21.2000,-175.2000,77.16,83,75,11.50,broken clouds
3,Avarua,CK,-21.2078,-159.7750,78.85,73,40,16.11,scattered clouds
4,Mataura,NZ,-46.1927,168.8643,62.47,39,48,5.75,scattered clouds
5,Mahebourg,MU,-20.4081,57.7000,70.09,73,40,11.50,scattered clouds
6,Port-Cartier,CA,50.0334,-66.8654,43.02,96,100,18.63,overcast clouds
7,Butaritari,KI,3.0707,172.7902,82.56,74,90,11.21,overcast clouds
8,Puerto Ayora,EC,-0.7393,-90.3518,66.54,92,100,7.00,overcast clouds
9,Kalmunai,LK,7.4167,81.8167,78.42,81,100,5.93,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [23]:
# Prompt the user to enter the minimum temperature criteria
min_temp = input("Searching for travel destinations? Enter your preffered choice of minimum temperature of the city: ") 

# Prompt the user to enter the maximum temperature criteria
max_temp = input("Enter your preffered choice of maximum temperature of the city: ")

Searching for travel destinations? Enter your preffered choice of minimum temperature of the city: 50
Enter your preffered choice of maximum temperature of the city: 70

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [24]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= float(min_temp)) & (city_data_df["Max Temp"] <= float(max_temp))]
                                    
# Display sample data
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Tateyama,JP,34.9833,139.8667,67.10,76,100,8.10,overcast clouds
1,Albany,US,42.6001,-73.9662,52.66,73,7,10.07,clear sky
4,Mataura,NZ,-46.1927,168.8643,62.47,39,48,5.75,scattered clouds
8,Puerto Ayora,EC,-0.7393,-90.3518,66.54,92,100,7.00,overcast clouds
12,Castro,BR,-24.7911,-50.0119,50.92,88,81,4.25,broken clouds
23,Beloha,MG,-25.1667,45.0500,68.14,83,0,5.70,clear sky
24,Burns Lake,CA,54.2331,-125.7533,69.22,57,0,2.73,clear sky
25,East London,ZA,-33.0153,27.9116,62.31,84,97,16.04,overcast clouds
28,Hobart,AU,-42.8794,147.3294,56.05,56,40,11.50,scattered clouds
30,Busselton,AU,-33.6500,115.3333,56.98,64,18,5.37,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [25]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Tateyama,JP,34.9833,139.8667,67.10,76,100,8.10,overcast clouds
1,Albany,US,42.6001,-73.9662,52.66,73,7,10.07,clear sky
4,Mataura,NZ,-46.1927,168.8643,62.47,39,48,5.75,scattered clouds
8,Puerto Ayora,EC,-0.7393,-90.3518,66.54,92,100,7.00,overcast clouds
12,Castro,BR,-24.7911,-50.0119,50.92,88,81,4.25,broken clouds
23,Beloha,MG,-25.1667,45.0500,68.14,83,0,5.70,clear sky
24,Burns Lake,CA,54.2331,-125.7533,69.22,57,0,2.73,clear sky
25,East London,ZA,-33.0153,27.9116,62.31,84,97,16.04,overcast clouds
28,Hobart,AU,-42.8794,147.3294,56.05,56,40,11.50,scattered clouds
30,Busselton,AU,-33.6500,115.3333,56.98,64,18,5.37,few clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [26]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = pd.DataFrame(clean_travel_cities,columns=["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"])

# Display sample data
hotel_df.head(10)

            City Country  Max Temp Current Description      Lat       Lng
0       Tateyama      JP     67.10     overcast clouds  34.9833  139.8667
1         Albany      US     52.66           clear sky  42.6001  -73.9662
4        Mataura      NZ     62.47    scattered clouds -46.1927  168.8643
8   Puerto Ayora      EC     66.54     overcast clouds  -0.7393  -90.3518
12        Castro      BR     50.92       broken clouds -24.7911  -50.0119
23        Beloha      MG     68.14           clear sky -25.1667   45.0500
24    Burns Lake      CA     69.22           clear sky  54.2331 -125.7533
25   East London      ZA     62.31     overcast clouds -33.0153   27.9116
28        Hobart      AU     56.05    scattered clouds -42.8794  147.3294
30     Busselton      AU     56.98          few clouds -33.6500  115.3333

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [27]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df[["Hotel Name"]] = None

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tateyama,JP,67.10,overcast clouds,34.9833,139.8667,None
1,Albany,US,52.66,clear sky,42.6001,-73.9662,None
4,Mataura,NZ,62.47,scattered clouds,-46.1927,168.8643,None
8,Puerto Ayora,EC,66.54,overcast clouds,-0.7393,-90.3518,None
12,Castro,BR,50.92,broken clouds,-24.7911,-50.0119,None
23,Beloha,MG,68.14,clear sky,-25.1667,45.0500,None
24,Burns Lake,CA,69.22,clear sky,54.2331,-125.7533,None
25,East London,ZA,62.31,overcast clouds,-33.0153,27.9116,None
28,Hobart,AU,56.05,scattered clouds,-42.8794,147.3294,None
30,Busselton,AU,56.98,few clouds,-33.6500,115.3333,None

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [30]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [31]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tateyama,JP,67.10,overcast clouds,34.9833,139.8667,Tateyama Seaside Hotel
1,Albany,US,52.66,clear sky,42.6001,-73.9662,None
4,Mataura,NZ,62.47,scattered clouds,-46.1927,168.8643,Ellie's Villa
8,Puerto Ayora,EC,66.54,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
12,Castro,BR,50.92,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
23,Beloha,MG,68.14,clear sky,-25.1667,45.0500,None
24,Burns Lake,CA,69.22,clear sky,54.2331,-125.7533,Burns Lake Bed and Breakfast
25,East London,ZA,62.31,overcast clouds,-33.0153,27.9116,Tu Casa
28,Hobart,AU,56.05,scattered clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
30,Busselton,AU,56.98,few clouds,-33.6500,115.3333,Observatory Guest House

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [33]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tateyama,JP,67.10,overcast clouds,34.9833,139.8667,Tateyama Seaside Hotel
4,Mataura,NZ,62.47,scattered clouds,-46.1927,168.8643,Ellie's Villa
8,Puerto Ayora,EC,66.54,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
12,Castro,BR,50.92,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
24,Burns Lake,CA,69.22,clear sky,54.2331,-125.7533,Burns Lake Bed and Breakfast
25,East London,ZA,62.31,overcast clouds,-33.0153,27.9116,Tu Casa
28,Hobart,AU,56.05,scattered clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
30,Busselton,AU,56.98,few clouds,-33.6500,115.3333,Observatory Guest House
37,Nantucket,US,62.71,clear sky,41.2835,-70.0995,Jared Coffin House
38,Bluff,NZ,62.80,scattered clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [34]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [35]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index=False)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [36]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [37]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Tateyama Seaside Hotel</dd>\n<dt>City</dt><dd>Tateyama</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 67.1 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Ellie's Villa</dd>\n<dt>City</dt><dd>Mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 62.47 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 66.54 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>CHACARA BAILLY</dd>\n<dt>City</dt><dd>Castro</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 50.92 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Burns Lake Bed and Breakfast</dd>\n<dt>City</dt><dd>Burns Lake</dd>\n<dt>Country</dt><dd>CA</dd>\n<dt>Current Weather</dt><dd>clear sky and 69.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tu Casa</dd>\n<dt>City</dt><dd>East London</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 62.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>St Ives Hobart Accommodation Tasmania</dd>\n<dt>City</dt><dd>Hobart</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 56.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Observatory Guest House</dd>\n<dt>City</dt><dd>Busselton</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>few clouds and 56.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Jared Coffin House</dd>\n<dt>City</dt><dd>Nantucket</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 62.71 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bluff Homestead - Guesthouse & Campervan Park</dd>\n<dt>City</dt><dd>Bluff</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 62.8 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [38]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   34.9833  139.8667
4  -46.1927  168.8643
8   -0.7393  -90.3518
12 -24.7911  -50.0119
24  54.2331 -125.7533
25 -33.0153   27.9116
28 -42.8794  147.3294
30 -33.6500  115.3333
37  41.2835  -70.0995
38 -46.6000  168.3333

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [41]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig1 = gmaps.figure(center=(20.0, 21.0), zoom_level=1.0)
fig1.add_layer(marker_layer)


# Display the figure containing the map
fig1

Figure(layout=FigureLayout(height='420px'))